In [54]:
import pandas as pd
import numpy as np
import math

In [77]:
df=pd.read_csv("nba.csv")
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

In [7]:
#dropping the rows with null values
df1=df
df1=df1.dropna()
df1.shape

(364, 9)

In [9]:
#dropping the columns with null values
df2=df
df2=df2.dropna(axis=1)
df2.shape

(458, 0)

In [78]:
#replacing the null values with mean ~ similarly replace with mode and median
df["Salary"].fillna(df["Salary"].mean(),inplace=True)
df["Salary"]=df["Salary"].astype("int64")

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,4842684
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4842684

In [27]:
df.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary        int64
dtype: object

In [79]:
#applying the data transformation to the Salary field.
#very long range so applying something to make the range shorter 
# applying logarithmic transformation, but before that check if all values are not null and positive
df["Salary"]=np.log2(df["Salary"])

In [82]:
df["Salary"]=df["Salary"].astype("int64")

In [83]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,22
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,22
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,22
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,20
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,22
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,21
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,19
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,21
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,19
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22

In [160]:
norm_salaries=np.zeros(458)
for i in range(salaries.size):
    norm_salaries[i]= (salaries[i]-mini)/(maxi-mini)

In [161]:
df["Salary"]=pd.DataFrame(norm_salaries)

In [162]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,0.308359
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,0.270944
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,0.192710
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,0.044765
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,0.199010
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,0.096217
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,0.034807
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,0.114906
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,0.036701
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.192710

In [163]:
# z score norm
# newZValue= (oldValue-mean)/std
z_norm_salaries=np.zeros(458)
mean=salaries.mean()
std=salaries.std()
for i in range(458):
    z_norm_salaries[i]=(salaries[i]-mean)/std
z_norm_salaries

array([ 5.59609023e-01,  3.78563045e-01, -1.98871294e-08, -7.15882581e-01,
        3.04868344e-02,  1.38704294e+00, -7.11557105e-01, -5.18887380e-01,
       -5.84932283e-01, -2.73567775e-01, -4.40575334e-01,  4.01188851e-01,
       -2.74639454e-01, -5.99373792e-01, -4.31328467e-01, -2.74639454e-01,
       -7.74714676e-01, -6.47791217e-01, -6.79674161e-01,  2.82418682e-01,
       -6.28442851e-01, -9.12471785e-01, -6.47791217e-01,  2.87712292e+00,
       -7.17510449e-01, -7.54905662e-01, -7.48302722e-01, -7.54905662e-01,
       -7.54905662e-01,  1.23897581e+00,  6.11868021e-01, -6.21536818e-01,
       -9.32495910e-01,  3.49454974e+00,  4.96136732e-01, -7.74714676e-01,
       -7.74714676e-01, -6.33768303e-01,  1.51300886e+00, -2.11755327e-01,
       -1.37780385e-01, -3.93146257e-01, -6.21272095e-01, -7.54905662e-01,
       -1.63306895e-01, -9.06039577e-01, -1.98871294e-08, -7.54905662e-01,
       -7.44688081e-01, -4.18059783e-02, -7.74714676e-01, -7.30314594e-01,
        3.21177428e-01, -5.22838447e-01, -8.36722080e-01, -2.68381854e-01,
       -5.03871646e-02, -7.54905662e-01, -3.82402333e-01, -7.54905662e-01,
       -8.36722080e-01, -3.93146257e-01, -6.43140167e-01,  1.69711290e+00,
        1.00914517e+00, -4.53997488e-01,  4.18074292e-01,  1.38704294e+00,
       -5.81513762e-01,  2.76348093e-01, -8.12515886e-01, -2.49754983e-01,
       -3.76479996e-01, -8.90968045e-01, -3.53096249e-02, -6.45977308e-01,
       -4.53997488e-01, -1.87841568e-01,  1.73587165e+00, -7.54905662e-01,
        1.26510521e+00, -5.49199045e-01,  1.82518536e+00,  1.33093113e+00,
        1.35857330e-01, -7.19115061e-01, -7.74714676e-01, -6.92176957e-01,
       -1.99158734e-01,  2.06551478e+00, -8.82329108e-01, -7.25192045e-01,
       -9.16884662e-01,  1.61297601e-01, -8.36722080e-01,  9.31627674e-01,
        2.72571692e+00, -7.25192045e-01,  2.87712292e+00, -7.54905662e-01,
        3.22201665e+00, -2.84234181e-01, -7.54818455e-01,  4.34546759e-01,
       -3.35629054e-01, -7.13743099e-01, -3.57100623e-01, -7.74714676e-01,
       -8.02826200e-01,  3.90636141e+00, -7.74714676e-01,  2.08319206e+00,
       -8.36722080e-01, -6.04332973e-01, -7.14533777e-01, -3.31473341e-01,
        5.04708437e-02, -7.48302722e-01,  4.18074292e-01, -7.54905662e-01,
        7.29604121e-02,  1.67773353e+00, -5.26119762e-01, -8.98523094e-01,
        1.58083667e+00, -7.13650078e-01, -7.48302722e-01,  1.67773353e+00,
       -2.00685829e-01, -7.37905301e-01, -9.27683236e-01, -7.54905662e-01,
        1.27383699e-01,  1.27383699e-01, -5.42933306e-01, -9.22319995e-01,
       -7.48302722e-01, -7.41699588e-01,  2.36025626e-01, -6.57638458e-01,
       -3.88846749e-01, -2.79916457e-01,  3.31144835e-02,  2.13352669e+00,
       -7.54905662e-01, -8.36722080e-01,  1.46516138e+00,  5.53729902e-01,
       -3.26752526e-01, -7.74714676e-01,  9.02558615e-01, -7.74714676e-01,
       -5.02445920e-01,  2.24118880e+00, -6.64100301e-02, -8.36722080e-01,
        5.05041166e-01,  7.08764886e-01, -7.54905662e-01, -4.77167466e-01,
        1.35857330e-01, -7.41699588e-01,  1.65835416e+00, -6.68883726e-01,
        2.95542799e+00, -6.40837898e-01, -7.16146916e-01,  6.49275831e-01,
        2.24118899e+00,  3.51305704e+00, -7.54905662e-01, -1.98871294e-08,
       -7.54905662e-01, -6.91201012e-01,  2.87712292e+00, -9.16932723e-01,
        2.07971479e-02,  8.03484478e-01,  3.04868344e-02,  1.82518536e+00,
       -5.31514980e-01, -4.53997488e-01,  3.21177428e-01, -5.17859304e-01,
       -9.16884662e-01, -6.95766792e-01, -3.78076857e-01, -7.74714676e-01,
       -3.04371094e-01,  2.16221785e+00, -8.22205573e-01,  1.75777887e+00,
       -3.87727784e-01,  2.76604870e-01,  3.04868344e-02, -3.57100623e-01,
       -1.53617208e-01, -7.43326487e-01,  1.05759360e+00,  2.37928737e+00,
        6.11868021e-01, -1.63306895e-01, -6.75139388e-01, -8.97447151e-01,
       -1.63306895e-01, -8.69085618e-02, -7.25308708e-01,  4.18074292e-01,
       -4.81562708e-01, -7.74714676e-01, -7.43326487e-01, -5.59816616e-01,
       -3.57100623e-01, -4.73562903e-01, -7.54905662e-01, -6.16326867e-01,
       -3.68104038e-01, -7.72788172e-01,  6.11868021e-01,  1.91028601e+00,
        2.24118880e+00, -8.81249290e-01, -7.74714676e-01,  6.00287504e-02,
       -5.29713861e-01,  3.40556801e-01, -6.02629526e-01, -6.57674697e-01,
       -1.07106713e-01, -7.25192045e-01, -1.72935924e-01, -1.52949395e-01,
       -5.34291850e-01,  2.24118880e+00, -6.92176957e-01, -8.36722080e-01,
        6.76466060e-01,  6.92455802e-02,  2.03848056e+00, -7.74714676e-01,
       -7.54905662e-01,  1.03929619e-01,  6.49276025e-01, -8.79078800e-01,
        3.18558499e-01,  6.56319458e-01, -6.97650467e-01, -6.19419815e-01,
       -8.99606788e-01,  2.11501706e+00, -7.44688081e-01,  3.39462272e+00,
       -4.56026508e-01, -3.20319737e-01, -4.95042031e-01, -7.54905662e-01,
       -7.54905662e-01, -6.66279139e-01,  6.12106984e-02,  3.04868344e-02,
       -2.51967526e-01, -1.46249364e-01,  9.19695019e-01, -8.02651398e-01,
       -1.98871294e-08,  2.87692912e+00, -7.74714676e-01, -7.05650273e-01,
       -6.99952737e-01, -1.98871294e-08, -1.98871294e-08,  9.29409705e-01,
        8.05661750e-01, -1.98871294e-08,  1.20407125e-01, -8.78035012e-02,
        7.08764886e-01,  8.47033417e-01, -7.25192045e-01, -3.49944402e-01,
       -3.86169683e-01,  4.31781323e-01, -9.05559550e-01, -7.12739635e-01,
       -7.74714676e-01,  1.14181364e+00, -7.74714676e-01, -6.82674088e-01,
        2.06804011e+00, -7.41699588e-01,  1.11486100e+00, -9.27683236e-01,
       -7.54905662e-01, -2.83066962e-01,  2.87712292e+00, -7.16998833e-01,
       -7.54905662e-01,  5.14971157e-01,  7.89352666e-02, -3.93146257e-01,
        9.99455479e-01,  2.24118880e+00, -7.05929336e-01, -8.99606788e-01,
       -8.89888033e-01, -2.44904326e-01,  1.66562142e+00, -8.36722080e-01,
       -6.47948771e-01, -5.50894352e-01, -6.85674015e-01, -3.85212342e-01,
        1.38704294e+00, -7.44688081e-01,  1.75149783e-01,  2.67996861e+00,
       -7.54905662e-01, -8.36722080e-01, -5.96745949e-01, -2.92502778e-01,
       -1.63306895e-01,  9.52218258e-01, -7.44688081e-01,  6.11868021e-01,
        1.60512018e+00, -7.54905662e-01, -9.01766619e-01, -7.54905662e-01,
       -8.36722080e-01,  2.45604462e-01,  1.67773353e+00, -4.32191818e-01,
        2.88504580e-01, -3.50442646e-01,  1.61297601e-01, -5.23957024e-01,
        1.38704294e+00,  4.18074292e-01, -1.23734215e-01,  3.36233009e+00,
        1.02883693e+00,  1.92637088e+00, -7.54905662e-01, -3.85212342e-01,
       -8.87728395e-01, -7.74714676e-01,  1.35857330e-01, -8.36722080e-01,
       -7.54905662e-01,  2.93739277e+00, -1.98871294e-08, -7.48302722e-01,
       -4.57540037e-01, -1.98871294e-08, -7.54905662e-01, -4.95042031e-01,
       -1.30036387e-01, -2.13406449e-01,  5.92488648e-01,  6.78629379e-01,
       -7.74714676e-01, -6.87627456e-01, -4.77137816e-01,  6.77960031e-02,
       -4.52888988e-01, -1.05168776e-01,  1.24169764e+00,  3.04868344e-02,
       -1.63306895e-01,  1.65110299e-01, -9.06342462e-02, -8.29624772e-01,
       -2.98962505e-01,  1.23537822e+00, -8.85568758e-01,  1.58083667e+00,
        6.11868021e-01, -5.66351340e-01, -3.48294040e-02, -5.17859304e-01,
       -7.25192045e-01, -8.99606788e-01,  2.13352669e+00, -3.93146257e-01,
       -3.57100623e-01, -2.53744033e-01,  1.08655374e+00,  1.23897581e+00,
        1.77463039e+00, -6.31419523e-01, -6.86549963e-01, -6.07148990e-01,
       -7.54905662e-01, -3.37287153e-01, -9.64480581e-02, -5.81513762e-01,
       -8.88388263e-01, -1.98871294e-08, -1.72996387e-01, -6.52744585e-01,
        7.08764886e-01, -6.90022746e-01, -5.22143115e-01, -5.39863613e-01,
       -5.62746777e-01,  1.40642231e+00, -7.54905662e-01,  1.52269855e+00,
       -7.15715919e-01, -1.98871294e-08,  1.66840102e-01,  1.77514261e-01,
       -4.96818150e-01, -2.11755327e-01,  2.96813272e+00, -3.30938470e-01,
       -7.17510449e-01,  1.43549137e+00,  2.24118880e+00, -6.54953833e-01,
       -8.95287514e-01, -2.90435581e-01, -5.46723911e-01, -7.03836363e-01,
       -6.64100301e-02,  5.73137003e-02,  2.30644263e+00, -8.36722080e-01,
        6.20180803e-01, -8.17342707e-01, -7.54905662e-01,  4.14353840e-01,
       -3.77631325e-01,  2.24280563e-01,  3.35875340e-02, -3.42395555e-01,
       -1.17515956e-01, -4.49121638e-01, -8.36722080e-01, -6.64162911e-01,
       -3.85212342e-01, -4.27308216e-01, -1.31167546e-02, -4.23331568e-01,
        8.95482043e-01, -2.06383365e-01,  1.38704294e+00, -7.10603640e-01,
        2.04779622e+00, -6.77162594e-01, -5.41204666e-01, -7.48302722e-01,
       -5.04422616e-01, -4.66917134e-01, -7.64067454e-01, -3.76479996e-01,
       -7.54905662e-01, -1.98871294e-08])

In [164]:
df["Salary"]=z_norm_salaries

In [167]:
df.Salary.min()

-0.9324959095883861

In [168]:
df.Salary.max()

3.9063614130184585

In [169]:
df.Salary.mean()

-4.7026914143510996e-17

In [170]:
df.Salary.std()

1.0